body.app-body.theme-default {
  /* 背景画像 */
  --bg-image: url("https://kancolle.cloud/img/bgdark.png");

  /* カラムヘッダー */
  --column-header-bg: rgb(28, 39, 53);

  /* カラム */
  --column-bg: rgba(28, 39, 53, 0.7);

  /* カラムのメニュー */
  --column-collapsible-bg: rgba(24, 33, 45, 0.8);

  /* トレンドタグ背景色 */
  --trends-bg-for-advanced: rgba(28, 39, 53, 0.5);

  /* 表示するものがないカラム */
  --empty-column-bg: transparent;

  /* 投稿の詳細 */
  --detailed-status-bg: rgba(28, 39, 53, 0.5);

  /* ダイレクトメッセージ 未読?/デフォルト */
  --unread-direct-bg: rgba(224, 224, 224, 0.15);

  /* ダイレクトメッセージ 既読? */
  --direct-bg: rgba(224, 224, 224, 0.1);

  /* 投稿や通知の選択時 */
  --focus-highlight-bg: rgba(224, 224, 224, 0.1);

  /* アカウントの投稿フィルター */
  --account-section-headline-bg: rgba(32, 32, 32, 0.5);

  /* 通知フィルター */
  --notification-filter-bar-bg: rgba(32, 32, 32, 0.7);

  /* タブ */
  --tabs-bar-bg: rgba(28, 39, 53, 0.9);
  --tab-hover-highlight-bg: rgba(255, 255, 255, 0.1);

  /* 投稿フォームパネル */
  --advanced-compose-panel-bg: transparent;
  --compose-panel-bg: rgba(28, 39, 53, 0.7);

  /* シングルカラムのナビゲーション */
  --single-navigation-panel-bg: rgba(28, 39, 53, 0.7);

  /* Getting Started */
  --getting-started-bg: rgba(28, 39, 53, 0.7);
  --getting-started-parts-bg: transparent;

  /* Getting Startedやリストカラムのリンク */
  --column-link-bg: rgba(14, 20, 27, 0.3);
  --column-subheader-bg: rgba(7, 10, 13, 0.5);

  /* 新規リスト作成フォーム */
  --inline-form-bg: rgb(28, 39, 53);

  /* お知らせ */
  --announcements-bg: rgba(24, 33, 45, 0.8);
}
