body.app-body {
  /* theme fallback */
  &.theme-default,
  &.theme-contrast {
    /* background-color: #191b22 */
    --column-header-bg: #313543;
    --column-bg: #282c37;
    --trends-bg-for-advanced: none;
    --empty-column-bg: #282c37;
    --detailed-status-bg: #313543;
    --detailed-status-focus-bg: #393f4f;
    --unread-direct-bg: #393f4f;
    --direct-bg: none;
    --focus-highlight-bg: #313551;
    --account-section-headline-bg: #1f232b;
    --tabs-bar-bg: #393f4f;
    --tab-hover-highlight-bg: #2e3340;
    --notification-filter-bar-bg: #1f232b;
    --column-collapsible-bg: #393f4f;
    --advanced-compose-panel-bg: #444b5d;
    --compose-panel-bg: none;
    --getting-started-bg: #282c37;
    --getting-started-parts-bg: #282c37;
    --column-link-bg: #393f4f;
    --column-link-hover-bg: #404657;
    --column-subheader-bg: #282c37;
    --single-navigation-panel-bg: none;
    --announcements-bg: #393f4f;
    --inline-form-bg: #313543;
  }

  &.theme-mastodon-light {
    /* background-color: #eff3f5 */
    --column-header-bg: #fff;
    --column-bg: #fff;
    --trends-bg-for-advanced: none;
    --empty-column-bg: #fff;
    --detailed-status-bg: #fff;
    --detailed-status-focus-bg: #c0cdd9;
    --unread-direct-bg: #c0cdd9;
    --direct-bg: #ccd7e0;
    --focus-highlight-bg: #d9e1e8;
    --account-section-headline-bg: #e6ebf0;
    --tabs-bar-bg: #fff;
    --tab-hover-highlight-bg: #d9e1e8;
    --notification-filter-bar-bg: #e6ebf0;
    --column-collapsible-bg: #e6ebf0;
    --advanced-compose-panel-bg: #fff;
    --compose-panel-bg: none;
    --getting-started-bg: #d9e1e8;
    --getting-started-parts-bg: #d9e1e8;
    --column-link-bg: #fff;
    --column-link-hover-bg: #d9e1e8;
    --column-subheader-bg: #e6ebf0;
    --single-navigation-panel-bg: none;
    --announcements-bg: #c0cdd9;
    --inline-form-bg: #fff;
  }
}
