body.app-body {
  background-image: var(--bg-image);
  background-attachment: fixed;

  .column {
    &-header {
      background-color: transparent;

      & > button,
      &-back-button,
      &__back-button,
      &__button {
        background-color: var(--column-header-bg);
      }

      &__collapsible-inner {
        background-color: var(--column-collapsible-bg);
      }
    }

    &-back-button {
      background-color: var(--column-header-bg);
    }

    &-subheading {
      background-color: var(--column-subheader-bg);
    }

    &-link:not(.column-link--transparent) {
      background-color: var(--column-link-bg);

      &:active,
      &:focus,
      &:hover {
        background-color: var(--column-link-hover-bg);
      }
    }

    &-inline-form {
      background-color: var(--inline-form-bg);
    }

    & > .scrollable,
    & > .regeneration-indicator {
      background-color: var(--column-bg) !important;
    }

    & > .getting-started__trends {
      background-color: var(--trends-bg-for-advanced);
    }
  }

  .empty-column-indicator {
    background-color: var(--empty-column-bg);
  }

  .detailed-status,
  .detailed-status__action-bar {
    background-color: var(--detailed-status-bg);
  }

  .status.status-direct {
    background-color: var(--direct-bg);

    &:not(.read) {
      background-color: var(--unread-direct-bg);
    }
  }

  .focusable:focus {
    background-color: var(--focus-highlight-bg);

    .detailed-status,
    .detailed-status__action-bar {
      background-color: var(--detailed-status-focus-bg);
    }
  }

  .account__section-headline {
    background-color: var(--account-section-headline-bg);
  }

  .notification__filter-bar {
    background-color: var(--notification-filter-bar-bg);

    button {
      background-color: transparent;
    }
  }

  .tabs-bar {
    background-color: var(--tabs-bar-bg);

    &__link:active,
    &__link:focus,
    &__link:hover {
      background-color: var(--tab-hover-highlight-bg);
    }

    &__wrapper {
      background-color: transparent;
    }
  }

  .drawer__header {
    background-color: var(--tabs-bar-bg);

    a:hover {
      background-color: var(--tab-hover-highlight-bg);
    }
  }

  .compose-panel {
    .navigation-bar,
    .compose-form,
    .getting-started__footer {
      background-color: var(--compose-panel-bg);
    }

    .compose-form {
      padding-bottom: 10px;
      margin-bottom: 0;
    }
  }

  .drawer__inner:not(.darker) {
    background-color: var(--advanced-compose-panel-bg);

    .navigation-bar,
    .compose-form,
    .drawer__inner__mastodon {
      background-color: var(--compose-panel-bg);
    }
  }

  .getting-started {
    background-color: var(--getting-started-bg);

    .flex-spacer,
    .getting-started__wrapper {
      background-color: var(--getting-started-parts-bg);
    }
  }

  .navigation-panel {
    background-color: var(--single-navigation-panel-bg);
  }

  .announcements {
    background-color: var(--announcements-bg);
  }
}
